@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.text-title {
   padding-top: 40px;
   color: $content-text-color;
   font-family: $main-font;
   text-transform: capitalize;
   text-align: center;
   font-weight: 600;
}

.text-subtitle {
   padding: 20px 0;
   color: $content-text-color;
   font-family: $main-font;
   font-size: 1.2rem;
   text-align: center;
   font-weight: 600;
}

.text-copyright {
   color: $footer-text-color;
   font-family: $copyright-font;
   font-size: 0.7rem;
}

.text-price {
   padding-bottom: 20px;
   font-family: $main-font;
   font-size: 0.8rem;
   font-weight: 500;
   color: $secondary-text-color;
   text-align: center;
}
