//  ---------- BACKGROUND ----------

$main-bg-color: #393939;
$caption-bg-color: #c4c4c4;

//  ---------- /BACKGROUND ----------

//  ---------- TEXT ----------

$header-text-color: #fff;
$footer-text-color: #fff;

$content-text-color: #000;
$secondary-text-color: #6a6a6a;

//  ---------- /TEXT ----------
