* {
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   font-size: 20px;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 1080px;
   margin: 0 auto;

   @media (min-width: 999px) and (max-width: 1279px) {
      min-width: 960px;
   }
}
