@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.nav-item {
   display: inline-block;
   font-family: $main-font;
   font-size: 0.8rem;
   font-weight: 500;

   a {
      text-decoration: none;
      color: $header-text-color;
   }

   &:not(:first-child) {
      margin-left: 20px;
   }
}
